{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            {% for object in object_list %}
            <div class="col-6">
                <div class="card shadow-sm">
                    <img src="{{ object.image | media_filter }}">
                    <div class="card-body">
                        <h2>{{ object.name }}</h2>
                        <p class="card-text">{{ object.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary" href="{% url 'catalog:product_detail' object.pk %}"
                                   role="button">Посмотреть</a>
                            </div>
                            <div>
                                <small class="text-body-secondary"> Просмотры: {{ object.views_counter }}</small>
                                <div>
                                    {% if object.get_active_version %}
                                        <small>Активная версия: {{ object.get_active_version.version_name }} (Версия {{ object.get_active_version.version_number }})</small>
                                    {% else %}
                                        <p>Активная версия отсутствует.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
