{% extends 'catalog/base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    {% if object %}
                    <button type="submit" class="btn btn-warning">
                        Редактировать
                    </button>
                    {% else %}
                    <button type="submit" class="btn btn-primary">
                        Создать
                    </button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

