{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row mb-4">
    <div class="col-md-12">
        <div class="h-100 p-5 bg-body-tertiary rounded-3">
            <h2>Управление пользователями</h2>
            <p>Здесь вы можете добавлять, редактировать и удалять данные пользователей для рассылок.</p>
            <a href="" class="btn btn-primary" type="button">Добавить пользователя</a>

            <table class="table mt-4">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Имя</th>
                    <th scope="col">Email</th>
                    <th scope="col">Дата добавления</th>
                    <th scope="col">Действия</th>
                </tr>
                </thead>
                <tbody>
                <!-- Пример записи, которую можно заменить данными из базы -->
                <tr>
                    {% for version in versions %}
                    <td>{{ version.product }}</td>
                    <td>{{ version.version_name }}</td>
                    <td>{{ version.version_number }}</td>
                    <td>
                        <div class="table-actions">
                            <a class="btn btn-outline-secondary btn-sm" href="{% url 'catalog:version_update' version.pk %}"
                               role="button">Редактировать</a>
                            <a class="btn btn-outline-danger btn-sm" href="{% url 'catalog:version_delete' version.pk %}"
                               role="button">Удалить</a>
                        </div>
                    </td>

                </tr>
                {% endfor %}

                <!-- Пример записи конец -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
